body {
  background-color: #171E31;
}

nav {
  background-color: #171E31;
}

header .sidenav {
  background-color: #12192C;
}

header .sidenav li a, h5 {
  color: #E5E5E5;
}

header .sidenav li a i {
  color: #E5E5E5!important;
}

header .sidenav li a.subheader {
  color: #E82D92;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/*  */


.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 425px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 650px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1250px) {
  .cards-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 1439px) {
  .cards-container {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.text-left {
  text-align: left;
}

img {
  width: 100%;
}